@charset "UTF-8";
/* Insert your custom CSS styles */
/* page */
body {
    background: #f0f0ee;
}
.nd-region .light-background,
.nd-region.light-background > .container {
    background: #f6f6f6;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
/* Header */
.header-wrapper {
    padding-bottom: 0;
}
.header .row {
    background: #282828;
}
.fixed-header.background-opacity .header-wrapper {
    background: rgba(240,240,238,.97);
}
.fixed-header .header-wrapper,
.header-wrapper {
    background: #f0f0ee;
}
.header .logo img {
    width: auto;
}
.admin-menu .header {
    margin-top: 29px;
}
.header .header-icons {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 15px;
    z-index: 901;
}
/* Header search */
.search-header {
    width: 30px;
    background: #fff;
    border-radius: 2px;
    z-index: 10;
}
.search-header a svg path,
.search-active .search-submit svg path {
    fill: #333333 !important;
}

/* Main menu */
.header .primary {
    float: right;
}
.header .primary .navbar .nav > li > a,
.header .primary .navbar .nav > li > a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header .primary .navbar .nav > .secondary > li > a,
.header .primary .navbar .nav > .secondary > li > a:visited {
    color: #fff;
    padding: 11px 13px;
    text-decoration: none;
}
.header .primary .navbar .nav > li:hover > a,
.header .primary .navbar .nav > .secondary > li:hover > a {
    color: #000;
}

.header .primary .navbar .nav > li,
.header .primary .navbar .nav > .secondary > li {
    padding: 12px 3px 0;
    position: relative;
}

.header .primary .navbar .nav > .selected > a,
.header .primary .navbar .nav > .secondary > .selected > a {
    color: #777;
}

.header .primary .navbar .nav > li:hover > a,
.header .primary .navbar .nav > .secondary > li:hover > a {
    background: #fff;
    border-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header .primary .navbar .nav > li.parent:hover > a,
.header .primary .navbar .nav > .secondary > li.parent:hover > a {
    background: #fff;
    border-bottom-color: transparent;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

/* Secondary menu */
.secondary {
    text-align: right;
}
.secondary li {
    display: inline-block;
}


/* Mega Slider */
.md-video-control {
    max-width: 1200px;
    margin: 0 auto;
}
.md-playbtn {
    display: none;
}
.md-arrow {
    max-width: 1200px;
    position: relative;
    top: -50%;
    margin: -20px auto 0;
}
.md-arrow > div:before {
    font-size: 28px;
    font-weight: bold;
}
.md-arrow > div {
    background-color: transparent;
}
.md-arrow > div:hover {
    background: transparent;
}
.md-slide-wrap p,
.md-objects .md-object {
    line-height: 1em;
}

/* footer */
footer.footer-top {
    padding-top: 0;
}
.stay-connected {
    float: right;
}
.footer-search .form-submit {
    display: none;
}
.footer-search form {
    position: relative;
}
.footer-search .search-submit {
    background-color: transparent;
    position: absolute;
    top: 12px;
    right: 6px;
}
footer.footer-top {
    padding-bottom: 0;
}
.footer-top .container {
    background: #e6e6e4;
    padding: 0 40px;
    overflow: hidden;
}
.footer-background .caption,
.footer-background .caption img {
    margin-bottom:0;
}
.footer-background .block-content.clearfix {
    line-height: 0;
}
.footer-menu-one .menu,
.footer-menu-two .menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer-menu-one .menu li a,
.footer-menu-two .menu li a {
    color: #676765;
    font-weight: bolder;
}
.footer-menu-one .title-box,
.footer-menu-two .title-box {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.footer-menu-one .title-box:before,
.footer-menu-two .title-box:before {
    display: none;
}
.footer-menu-one .title-box .title,
.footer-menu-two .title-box .title {
    font-size: inherit;
    font-weight: bolder;
    color: #3b3b3a;
}
.footer-bottom {
    border: none;
    background: inherit;
    padding: 0;
}
#Footer-Bottom {
    padding: 21px 0 20px;
    background: #565656;
}

/* Events Flip */
.product .product-hover {
    background-color: #e9480e !important;
}
.product .product-hover .product-name {
    margin-bottom: 0;
    font-weight: bold;
}
.product .product-hover .event-description {
    margin: 10px 0;
}
.product .product-hover .actions .find-event a {
    background: rgba(0,0,0,.7);
    height: auto;
    width: auto;
    padding: 7px 50px 7px 7px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    position: absolute;
    top: 12px;
    right: 12px;
}

/* buttons */
.orange-button,
.brown-button {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0;
    display: inline-block;
    min-width: 150px;
}
.orange-button {
    background: #f6561f;
}
.brown-button {
    background: #584242; /* Old browsers */
    background: -moz-linear-gradient(top,  #584242 0%, #161414 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#584242), color-stop(100%,#161414)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #584242 0%,#161414 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #584242 0%,#161414 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #584242 0%,#161414 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #584242 0%,#161414 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#584242', endColorstr='#161414',GradientType=0 ); /* IE6-9 */
}
.orange-button a,
.brown-button a{
    color: #fff;
    padding: 10px 90px 10px 10px;
    background: url("../images/arrow.png") no-repeat;
    background-position: right 10px top 3px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.orange-button a:hover,
.brown-button a:hover {
    text-decoration: none;
    color: #fff;
}

/* menu block */
.block-menu-block .block-content .menu-name-main-menu li {
    list-style: none;
}
.block-menu-block .block-content .menu-name-main-menu li a {
    color: #050505;
    font-size: 20px;
}
.block-menu-block .block-content .menu-name-main-menu li a.active {
    color: #e9480e;
}

/* related links */
#block-views-related-links-block .title-box {
    margin-bottom: 10px;
}
.view-related-links .views-field-field-related-links a {
    color: #555555;
}


@media (max-width: 991px) {
    .header .header-icons {
        margin-top: 0;
    }
    .header .primary .navbar .btn-navbar.collapsed .text {
        color: #fff;
    }
    .header .primary .navbar .nav > li > a,
    .header .primary .navbar .nav > li > a:visited {
        color: #1e1e1e;
    }
    .secondary {
        text-align: left;
    }
    .header .primary .navbar .nav > .secondary > li {
        float: none;
        margin: 0 0 3px;
        padding: 12px 3px 0;
        display: block;
    }
    .header .primary .navbar .nav > .secondary > li > a,
    .header .primary .navbar .nav > .secondary > li > a:visited {
        color: #1e1e1e;
        background: #f2f2f2;
        border: 1px solid #f2f2f2;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-weight: normal;
        margin: 0;
        padding: 7px 9px 7px 59px;
        text-decoration: none;
        display: block;
    }
    .header .dropdown.active > ul.sub {
        width: 100% !important;
    }
}

/* YM Sync */
.form-type-date-popup label,
.form-type-date-popup .date-padding,
.form-type-date-popup .help-block {
    clear: both;
    display: block;
}

.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.7em;
    margin-left: 10px;
}
#block-views-exp-events-list-block .views-exposed-form .views-exposed-widget .form-submit {
    margin: 0;
}
.post .entry-title.event-title {
    margin-bottom: 0;
}
.excerpt.event-date,
.excerpt.event-body {
    margin-bottom: 1em;
}
.excerpt.event-body {
    margin-top: 1em;
}
#block-views-exp-events-list-block .views-exposed-widget,
#block-views-exp-events-list-block .form-item,
#block-views-exp-events-list-block .date-padding,
#block-views-exp-events-list-block .form-text {
    width: 100%;
}
#block-views-exp-events-list-block .views-exposed-widget .description {
    color: #737373;
    margin-top: -18px;
    margin-bottom: 15px;
    font-size: 12px;
    font-style: italic;
}
#block-views-exp-events-list-block .views-exposed-widget .form-item-date-filter-value-date .help-block,
#block-views-exp-events-list-block .views-exposed-widget .form-item-date-filter-1-value-date .help-block {
    display: none;
}
#block-views-exp-events-list-block .views-exposed-widget.views-submit-button {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
#block-views-exp-events-list-block .views-exposed-widget.views-reset-button {
    width: auto;
}

.pagination-box {
    margin-bottom: 40px;
}

.view-events-list .views-row {
    overflow: hidden;
    padding-bottom: 1px;
}
.view-events-list .view-header {
    margin-bottom: 20px;
}
.view-events-list .views-field-uc-product-image .field-content {
    margin-left: 20px;
    margin-bottom: 10px;
}

/* Event Page */
.view-event-sidebar.view-display-id-block_1 .views-field-uc-product-image .field-content {
    margin: 0 20px 20px 0;
}
.view-event-sidebar.view-display-id-block_1 .views-field-body .field-content {
    margin: 20px 0;
}
.view-event-sidebar.view-display-id-block_1 .views-field-field-ym-product-reference {
    text-align: left;
}

/* Event Sidebar */
#block-views-event-sidebar-block {
    padding: 40px 0;
}
.view-event-sidebar .views-field-field-ym-product-reference {
    margin-bottom: 20px;
    text-align: center;
}

/* Calendar */
.view-id-calendar .date-nav-wrapper .date-prev,
.view-id-calendar .date-nav-wrapper .date-next {
    position: relative;
    right: inherit;
    background: none;
}
.view-id-calendar .date-nav-wrapper ul.pager {
    text-align: right;
}
.view-id-calendar .date-nav-wrapper .date-nav {
    padding-bottom: 0;
}
.view-id-calendar .calendar .contents > a {
    color: #fff;
    text-decoration: underline;
}

/* Events list */
#sidebar #block-views-event-types-block {
    margin-bottom: 40px;
}
#sidebar .block-menu-block .menu-name-main-menu {
    display: table;
    margin: 20px auto;
}
#sidebar .block-menu-block .menu-name-main-menu li {
    float: left;
    clear: both;
}

/* Student council */
.view-student-council {
    margin-bottom: 40px;
}
.view-student-council .col-md-3 {
    background: #f2f2f2;
    color: #505050;
    margin: 10px 0.5%;
    padding: 10px;
}
.view-student-council .row {
    margin: 0;
}
.view-student-council .views-field-title h3 {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.view-student-council .views-field-body {
    font-size: 12px;
}
.view-student-council .views-field-body p {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .view-student-council .col-md-3 {
        width: 24%;
    }
}