legend {
    float: left;
}
fieldset legend .fieldset-legend {
    position: relative;
}
.media-item .label-wrapper {
    position: relative;
}
.media-thumbnail img.file-icon {
    float: left;
    margin-right: 5px;
}
.nd_visualshortcodes_links_wrap {
    margin-top: 20px;
}